/*home*/
.welcome-container{
    width:100%;
    height: 300px;
    /* background-color: #f3f0f0; */
  }
  .top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .home{
    margin-left: 60px;
    margin-right: 60px;
  }
  .sub-container{
    display:inline-block;
    padding-top: 50px;
  }
  
  .about{
    margin-left: 100px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #ebc8c8;
    align-items: center;
    
    
  }
  
  .tabs{
    display: flex;
    font-size: 20px;
    gap: 130px;
    
  }
  .software{
    margin-top: 40px;
  }
  
  .course-row{
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  
  .single-course{
    margin-top: 10px;
  }
  
  .marketing{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .arrow-icon{
    margin-top: 80px;
  }
  
  /*progress*/
  .progress-course-row{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  .single-progress-course{
    width: 1220px;
   display: flex;
   flex-direction: row; 
   gap: 30px;
  }
  
  
  .progress-course{
    margin-top: 80px;
    width: 1220px;
   display: flex;
   gap: 20px;
   
  }
  .progress-course h4{
    width: 250px;
  }
  
  .progress-container{
    margin-top: 40px;
    margin-bottom: 60px;
  }
  
  /*completed*/
  .single-completed-course{
    width: 1220px;
    display: flex;
    flex-direction: row; 
    
  }
  .completed-course{
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 400px;
    color: rgb(4, 124, 4);
  }
  
  .view-btn{
    margin-top: 60px;
  }
  
  /* enroll */
  .enroll-screen{
    margin-left: 60px;
    margin-right: 60px;
  
  }
  .enroll-top-screen{
    display: flex;
    justify-content: space-between;
  }
  
  /* .enroll-container{
    
  } */
  
  .enroll-banner{
    width: 500px;
    align-items: center;
    background-color: #cfcfcf;
  }
  
  .skills{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
  }